.Contact-us{
    a{
        color: #003e6a;
    }
    p{
        font-size: 20px;
    }
    .container-contact{
        padding: 50px 50px 50px 50px;
    }
    .contact-content-thank{
        background-color: #d1ecf1;
        color: #000;
        padding: 10px 10px 20px 20px ;
    }
}