.Footer-website{
  
    .Footer-website-logo{
        display: flex;
        padding: 20px 200px 20px 200px; 
        background-color: transparent;
        height: 220px;
        background: #483a32;
        .footer-website-logobanner{
            margin-right: 100px; 
            width: 300px;
            }
        }
    .Footer-website-information{
        background-color: #2c1e16;
        ul{
            
        }
    }

}